@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.my_btn {
  width: 150px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 55px;
  background: linear-gradient(to right, rgba(155, 225, 93, 0.6), #00D9A6);
  text-align: center;
  text-decoration: none;
  color: white;
  box-shadow: 6px 6px 25px 0 rgba(0, 217, 166, 0.65);
  transition: all 2s;
}
.my_btn:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), black);
}

.my_btn_black {
  width: 150px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 55px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), black);
  text-align: center;
  text-decoration: none;
  color: white;
  box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.35);
  transition: all 2s;
}

.design_line {
  position: relative;
  width: 70px;
  height: 5px;
  background: linear-gradient(to right, rgba(124, 252, 0, 0.6), #00D9A6);
}
.design_line span {
  position: absolute;
  top: 0;
  left: 10%;
  width: 7px;
  height: 7px;
  background-color: #F9F9F9;
  z-index: 2;
}

.active_link {
  color: black;
  font-weight: 700;
}

.active_image {
  background: linear-gradient(to right, rgba(124, 252, 0, 0.6), #00D9A6);
  font-weight: 700;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #3D3D3D;
  padding-left: 50px;
  padding-right: 30px;
}
.header_top .phone_list {
  list-style: none;
}
.header_top .phone_list li {
  display: inline-block;
}
.header_top .phone_list li a {
  color: white;
  font-size: 16px;
  padding-left: 20px;
  text-decoration: none;
  cursor: pointer;
}
.header_top .social_icons {
  list-style: none;
}
.header_top .social_icons li {
  display: inline-block;
}
.header_top .social_icons li i {
  color: white;
  font-size: 16px;
  padding-left: 20px;
  text-decoration: none;
  cursor: pointer;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 105px;
  background-color: white;
  padding-left: 40px;
  padding-right: 30px;
}
.header_bottom img {
  width: 200px;
}
.header_bottom ul {
  list-style: none;
}
.header_bottom ul li {
  display: inline-block;
}
.header_bottom ul li a {
  color: #3D3D3D;
  font-size: 14px;
  text-decoration: none;
  padding: 0 20px;
}
.header_bottom i {
  color: #00D9A6;
  font-size: 16px;
  padding-left: 15px;
}

.slider {
  position: relative;
  width: 100%;
  height: 950px;
  background-color: #F9F9F9;
  overflow: hidden;
}
.slider .content_slider {
  width: 50%;
  height: 100%;
  padding-left: 120px;
  padding-top: 140px;
}
.slider .content_slider h4 {
  letter-spacing: 5px;
  color: #00D9A6;
}
.slider .content_slider h1 {
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.slider .content_slider h1 span {
  color: #00D9A6;
}
.slider .content_slider p {
  margin-top: 40px;
}
.slider .content_slider a {
  margin-top: 60px;
}
.slider .content_slider ul {
  list-style: none;
  margin-top: 90px;
}
.slider .content_slider ul li {
  display: inline-block;
}
.slider .content_slider ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.slider .content_slider .chooser_list {
  position: absolute;
  left: 43%;
  top: 60%;
  transform: translate(-43%);
  display: flex;
  align-items: center;
  width: 190px;
  height: 50px;
  line-height: 50px;
  border-radius: 55px;
  background: #555555;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  z-index: 2;
}
.slider .content_slider .chooser_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: 100%;
  border-radius: 55px;
  color: white;
  cursor: pointer;
}
.slider .content_slider img {
  position: absolute;
  top: -5%;
  right: -17%;
  width: 80%;
}

.why_we_are_here {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1150px;
  background-color: white;
}
.why_we_are_here .why_slogan_box {
  width: 40%;
  height: 30%;
  background-color: white;
  padding-left: 10px;
}
.why_we_are_here .why_slogan_box h2 {
  font-size: 50px;
  margin-bottom: 50px;
}
.why_we_are_here .why_slogan_box h2 span {
  color: #00D9A6;
}
.why_we_are_here .why_slogan_box div {
  margin-bottom: 60px;
}
.why_we_are_here .why_schede_box {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 50%;
}
.why_we_are_here .why_schede_box .scheda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 425px;
  height: 325px;
  border: 1px solid rgba(222, 222, 222, 0.4);
  border-radius: 10px;
  margin: 15px;
  padding: 0 50px;
  box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.14);
  color: #393939;
  cursor: inherit;
}
.why_we_are_here .why_schede_box .scheda i {
  font-size: 60px;
}
.why_we_are_here .why_schede_box .scheda h4 {
  font-size: 30px;
  margin: 50px 0 30px 0;
}
.why_we_are_here .why_schede_box .scheda p {
  font-size: 18px;
}
.why_we_are_here .why_schede_box .scheda:hover {
  color: white;
  background-image: linear-gradient(to left, rgba(124, 252, 0, 0.6), #00D9A6);
}

.learn_more {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1100px;
  padding-top: 200px;
  background-color: #F9F9F9;
}
.learn_more .learn_image_box {
  width: 50%;
  height: 100%;
  background-color: #F9F9F9;
}
.learn_more .learn_image_box .background_image {
  position: relative;
  width: 610px;
  height: 550px;
  border-radius: 0 40px 0 0;
}
.learn_more .learn_image_box .background_image img {
  position: relative;
  left: -40px;
  width: 100%;
  height: 100%;
}
.learn_more .learn_image_box .background_image .background_image_layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(155, 225, 93, 0.8) 30%, #00D9A6 120%);
  border-radius: 0 40px 0 0;
  z-index: 2;
}
.learn_more .learn_image_box .background_image .top_image_box {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 610px;
  height: 550px;
  z-index: 3;
}
.learn_more .learn_image_box .background_image .top_image_box .top_half_image {
  position: relative;
  left: 30px;
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}
.learn_more .learn_image_box .background_image .top_image_box .top_half_image img {
  position: absolute;
  top: -20px;
  width: 650px;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
.learn_more .learn_image_box .background_image .top_image_box .bottom_half_image {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 0 0 30px 30px;
}
.learn_more .learn_image_box .background_image .top_image_box .bottom_half_image img {
  position: absolute;
  top: -285px;
  width: 650px;
  height: 550px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.learn_more .learn_content_box {
  width: 50%;
  height: 100%;
  background-color: #F9F9F9;
  padding: 120px 120px 0 100px;
}
.learn_more .learn_content_box h3 {
  font-size: 55px;
  margin-bottom: 30px;
}
.learn_more .learn_content_box h3 span {
  color: #00D9A6;
}
.learn_more .learn_content_box p {
  margin-top: 35px;
  margin-bottom: 40px;
}

.recent_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1745px;
}
.recent_project .recent_project_content_container {
  display: flex;
  width: 100%;
  height: 590px;
}
.recent_project .recent_project_content_container .recent_project_content_slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding-left: 7.5px;
}
.recent_project .recent_project_content_container .recent_project_content_slogan h2 {
  font-size: 60px;
  margin: 50px 0 40px 10px;
}
.recent_project .recent_project_content_container .recent_project_content_slogan h2 span {
  color: #00D9A6;
}
.recent_project .recent_project_content_container .recent_project_content_slogan .margin_left_10 {
  margin-left: 10px;
}
.recent_project .recent_project_content_container .recent_project_content_paragraph {
  display: flex;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}
.recent_project .project_images_list_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 750px;
  padding: 0 10px;
  margin-top: 80px;
  margin-bottom: 125px;
}
.recent_project .project_images_list_container .progect_image_box {
  position: relative;
  width: calc((100% / 4) - 5px);
  border-radius: 5px;
  margin: 2.5px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.recent_project .project_images_list_container .progect_image_box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recent_project .project_images_list_container .progect_image_box .hover_layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(155, 225, 93, 0.6), #00D9A6);
  display: none;
  transition: 2s ease-in-out;
  padding-left: 40px;
}
.recent_project .project_images_list_container .progect_image_box .hover_layout .argument_container {
  position: absolute;
  bottom: 50px;
}
.recent_project .project_images_list_container .progect_image_box .hover_layout .argument_container a {
  text-decoration: none;
  color: white;
  margin: 10px 0;
  cursor: pointer;
}
.recent_project .project_images_list_container .progect_image_box .hover_layout .argument_container .project_title {
  font-size: 25px;
  font-weight: 700;
  display: block;
}
.recent_project .project_images_list_container .progect_image_box .hover_layout .argument_container .project_argument {
  margin-right: 20px;
}
.recent_project .project_images_list_container .progect_image_box:hover .hover_layout {
  display: block;
}
.recent_project .project_images_list_container .progect_image_box:hover {
  transform: scale(1.1);
  z-index: 2;
}

.smoked_bacon {
  position: relative;
  width: 100%;
  height: 820px;
}
.smoked_bacon .background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.smoked_bacon .smoked_bacon_hoverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 43, 0.9);
  padding-top: 175px;
}
.smoked_bacon .smoked_bacon_hoverlay i {
  font-size: 45px;
  color: #00D9A6;
  margin-bottom: 65px;
}
.smoked_bacon .smoked_bacon_hoverlay h2 {
  width: 50%;
  font-size: 27px;
  font-weight: 300;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-bottom: 90px;
}
.smoked_bacon .smoked_bacon_hoverlay img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 35px;
}
.smoked_bacon .smoked_bacon_hoverlay h4 {
  color: #00D9A6;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 25px;
}
.smoked_bacon .smoked_bacon_hoverlay p {
  color: white;
  font-size: 18px;
}

.our_blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 245px;
}
.our_blog h2 {
  font-size: 60px;
  margin-bottom: 60px;
}
.our_blog h2 span {
  color: #00D9A6;
}
.our_blog .blog_cards_container {
  display: flex;
  width: 100%;
  padding: 0 10px;
}
.our_blog .blog_cards_container .blog_image_card_box {
  position: relative;
  width: calc(100% / 3);
  height: 360px;
  margin-top: 35px;
  margin-bottom: 125px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.16);
}
.our_blog .blog_cards_container .blog_image_card_box img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.our_blog .blog_cards_container .blog_image_card_box .blog_info_box {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  width: 80%;
  height: 125px;
  background-color: white;
  border-radius: 10px;
  padding: 40px 0 30px 45px;
  transition: 0.3s ease-in-out;
  box-shadow: 20px 0 40px 0 rgba(0, 0, 0, 0.06);
}
.our_blog .blog_cards_container .blog_image_card_box .blog_info_box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: lightgray;
  transition: 0.5s ease-in-out;
}
.our_blog .blog_cards_container .blog_image_card_box .blog_info_box p span {
  transition: 1 ease-in-out;
}
.our_blog .blog_cards_container .blog_image_card_box .blog_info_box h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.our_blog .blog_cards_container .blog_image_card_box .blog_info_box h4::before {
  position: absolute;
  left: 25px;
  content: "•";
  font-size: 25px;
  color: #00D9A6;
}
.our_blog .blog_cards_container .blog_image_card_box:hover .blog_info_box {
  background: linear-gradient(to left, #9be15d, #00D9A6);
  color: white;
  bottom: -70px;
}
.our_blog .blog_cards_container .blog_image_card_box:hover .blog_info_box p {
  color: white;
}
.our_blog .blog_cards_container .blog_image_card_box:hover .blog_info_box p span {
  opacity: 0;
}
.our_blog .blog_cards_container .blog_image_card_box:hover img {
  transform: scale(1.1);
  -o-object-fit: contain;
     object-fit: contain;
}
.our_blog .blog_cards_container .blog_image_card_box:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.our_blog a {
  width: 180px;
  font-size: 14px;
}
