<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  </head>
  <body>
    <div id="root">
      <!-- HEADER -->
      <header>
        <!-- HEADER-TOP -->
        <div class="header_top">
          <ul class="phone_list">
            <li v-for="agencyNumber in agencyPhoneNumbers "><a href="#">
            {{agencyNumber}}
            </a></li>
          </ul>

          <ul class="social_icons">
            <li v-for="socialIcon in socialIcons "><a href="#"><i :class="socialIcon.icon"></i></a></li>
          </ul>
        </div>
        <!-- HEADER-BOTTOM-NAVBAR -->
        <div class="header_bottom">
          <a :href="agencyLogo.logoLink"><img :src="agencyLogo.logo" alt="logo"></a>
          <nav class="header_nav">
            <ul class="nav_list">
              <li @click="activeLinks(index)" :class="(index == indexLinks) ? 'active_link': ''" v-for="(link, index) in navbarLinks"><a :href="link.navLink">{{link.page}}</a></li>
            </ul>

          </nav>
          <div class="btn_and_search_container">
            <a class="my_btn" href="">PURCHASE</a>
            <i><i class="fas fa-search"></i></i>
          </div>
        </div>
      </header>
      <!-- MAIN-CONTENT -->
      <main>
        <!-- FIRST-MAIN-PAGE-SLIDER -->
        <section class="slider">
          <div class="content_slider">
            <h4>{{slider[indexImages].preTitle}}</h4>
            <h1 v-html="slider[indexImages].title"></h1>
            <div class="design_line"><span></span></div>
            <p>{{slider[indexImages].paragraph}}</p>
            <a href="" class="my_btn_black">READ MORE</a>
            <ul class="slider_social_list">
              <li v-for="socialLink in socialLinks"><a href="#">{{socialLink}} <span>-</span></a></li>
            </ul>
            <ul class="chooser_list">
              <li :class="(index == indexImages) ? 'active_image': ''" @click="chooseImage(index)" v-for="(chooseImageNumber, index) in chooseImageNumbers">{{chooseImageNumber}}</li>
            </ul>
            <img :src="sliderImages[indexImages]" alt="">
          </div>
        </section>

        <!-- SECOND-MAIN-PAGE -->
        <section class="why_we_are_here">
          <div class="why_slogan_box">
            <h2 v-html="secondMainPageSlogan"></h2>
            <div class="design_line"><span></span></div>
            <a href="" class="my_btn">VIEW ALL</a>
          </div>

          <div class="why_schede_box">
            <div v-for="scheda in schede" class="scheda">
              <i :class="scheda.icon"></i>
              <h4>{{scheda.title}}</h4>
              <p>{{scheda.content}}</p>
            </div>
          </div>
        </section>

        <!-- THIRD-MAIN-PAGE -->
        <section class="learn_more">
          <div class="learn_image_box">
            <div class="background_image">
              <div class="background_image_layover"></div>
              <img src="img/busy-architect-PYVKWM4-1024x872.jpg" alt="">
              <div class="top_image_box">
                <div class="top_half_image">
                  <img src="img/businesswoman-analysing-document-P8WSNMC-1024x820.jpg" alt="">
                </div>
                <div class="bottom_half_image">
                  <img src="img/businesswoman-analysing-document-P8WSNMC-1024x820.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="learn_content_box">
            <h3 v-html="thirdPageContent.slogan"></h3>
            <div class="design_line"><span></span></div>
            <p>{{thirdPageContent.paragraph}}</p>
            <a class="my_btn" href="#">READ MORE</a>
          </div>
        </section>

        <!-- FOURTH-MAIN-PAGE -->
        <section class="recent_project">
          <div class="recent_project_content_container">
            <div class="recent_project_content_slogan">
              <div class="design_line"><span></span></div>
              <h2 v-html="fourthPageContent.slogan"></h2>
              <div class="design_line margin_left_10"><span></span></div>
            </div>
            <div class="recent_project_content_paragraph">
              <p>{{fourthPageContent.paragraph}}</p>
            </div>
          </div>

          <div class="project_images_list_container">
            <div v-for="image in fourthPageImages" class="progect_image_box">
              <img :src="image.image" alt="">
              <div class="hover_layout">
                <div class="argument_container">
                  <a class="project_title" :href="image.imageLink">{{image.title}}</a>
                  <a class="project_argument" v-for="topic in image.arguments" :href="topic.argumentLink">{{topic.argument}}</a>
                </div>
              </div>
            </div>
          </div>
          <a class="my_btn" href="#">READ MORE</a>
        </section>

        <!-- FIFTH-MAIN-PAGE -->
        <section class="smoked_bacon">
          <img class="background_image" :src="fifthPageContent.backgroundImage" alt="">
          <div class="smoked_bacon_hoverlay">
            <i :class="fifthPageContent.icon"></i>
            <h2>{{fifthPageContent.mantra}}</h2>
            <img :src="fifthPageContent.avatarImage" alt="">
            <h4>{{fifthPageContent.avatarName}}</h4>
            <p>{{fifthPageContent.avatarRole}}</p>
          </div>
        </section>

        <!-- SIXTH-MAIN-PAGE -->
        <section class="our_blog">
          <h2 v-html="sixthPageContent.slogan"></h2>
          <div class="design_line"><span></span></div>
          <div class="blog_cards_container">
            <div v-for="card in sixthPageContent.cards" class="blog_image_card_box">
              <a :href="card.cardLink">
                <img :src="card.cardImage" alt="">
                <div class="blog_info_box">
                  <p>{{card.projectYears}}<span>by</span>{{card.projectAuthor}}</p>
                  <h4>{{card.projectName}}</h5>
                </div>
              </a>
            </div>
          </div>
          <a href="" class="my_btn_black">VIEW ALL POST</a>
        </section>

        <!-- SEVENTH-MAIN-PAGE -->
        <section class="last_main_container">
          <div class="black_green_container">
            <div class="black_box last_box">
              <p>Are You Ready?</p>
              <h3>Start a New Project</h3>
              <div class="input_box">
                <input class="mail_input" type="text" name="" value="" placeholder="Enter Your Email Address">
                <input class="submit" type="submit" name="" value="SUBMIT">
              </div>
            </div>
            <div class="green_box last_box">
              <p>What Are You Waiting for?</p>
              <h3>Let's Talk About Work</h3>
              <a href="" class="my_btn_black">START NOW</a>
            </div>
          </div>
          <div class="sponsor_list_container">
            <ul class="sponsor_list">
              <li v-for="sponsor in sponsors">
                <img :src="sponsor.logo" alt="">
              </li>
            </ul>
          </div>
        </section>
      </main>

      <footer>
        <div  class="footer_top">
          <div class="logo_footer_box footer_box">
            <img :src="footerInformations.footerLogo" alt="">
            <p>{{footerInformations.footerSlogan}}</p>
          </div>
          <div class="quick_links_box footer_box">
            <h2>QUICK LINKS</h2>
            <div class="design_line"><span></span></div>
            <ul>
              <li v-for="link in footerInformations.footerLinks">{{link.info}}</li>
            </ul>
          </div>
          <div class="contacts_box footer_box">
            <h2>CONTACTS</h2>
            <div class="design_line"><span></span></div>
            <ul>
              <li v-for="contact in footerInformations.footerContacts">{{contact}}</li>
            </ul>
          </div>
          <div class="location_map_box footer_box">
            <h2>LOCATION MAP</h2>
            <div class="design_line"><span></span></div>
            <img :src="footerInformations.locationMap" alt="">
          </div>

        </div>
        <div class="footer_bottom">
          <p><i class="far fa-copyright"></i>{{copyright}} </p>
          <ul>
            <li v-for="socialIcon in socialIcons">
              <a href=""><i :class="socialIcon.icon"></i> </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>


    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
