* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
   font-family: 'Lato', sans-serif;
 }

.my_btn {
 @include myBtn;
 span {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;
   font-size: 13px;
 }
  &:hover .layover_btn_black {
    width: 300px;
    height: 300px;
     // background: linear-gradient(to right, rgba(0, 0, 0, 0.6), black);
  }
 }

 .my_btn_black {
   @include myBtnBlack;
   span {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 3;
     font-size: 13px;
   }
    &:hover .layover_btn_green {
      width: 300px;
      height: 300px;
       // background: linear-gradient(to right, rgba(0, 0, 0, 0.6), black);
    }
 }

.layover_btn_black {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-image: linear-gradient(271deg, #0c0c0c 0%, #474747 100%);
  transition: .45s cubic-bezier(.75,.1,.25,.9);
 }
 .layover_btn_green {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 0px;
   height: 0px;
   border-radius: 50%;
   background-image: $linearGradientGreen;
   transition: .45s cubic-bezier(.75,.1,.25,.9);
 }



 .design_line {
   position: relative;
   width: 70px;
   height: 5px;
   background: linear-gradient(to right, rgb(124,252,0,0.6), $colorGreen);
   border-radius: 5px;
   span {
     position: absolute;
     top: 0;
     left: 10%;
     width: 7px;
     height: 7px;
     background-color: $colorLightGray;
     z-index: 2;
   }
 }

.active_link {
  color: black;
  font-weight: 700;
}
.active_image {
  background: linear-gradient(to right, rgb(124,252,0,0.6), $colorGreen);
  font-weight: 700;
}
