
.footer_top {
  display: flex;
  width: 100%;
  padding: 155px 35px 135px 0;
  .footer_box {
    width: 25%;
    padding: 0 10px 0 45px;
    .design_line {
      margin: 25px 0 35px 0;
    }
    ul {
      list-style: none;
    }
  }
  .logo_footer_box {
    img {
      width: 250px;
      padding-bottom: 20px;
    }
  }
  .quick_links_box {
    li {
      margin: 0 0 3px;
      line-height: 1.5em;
      cursor: pointer;
      &:hover {
        color: $colorGreen;
      }
    }
  }
  .contacts_box {
    li {
      padding-bottom: 35px;
    }
  }
  .location_map_box {
    img {
      width: 100%;
      height: 210px;
    }
  }
  li,p {
    color: #444;
    font-size: 16px;
  }
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 35px 48px;
  background-image: linear-gradient(285deg,#0c0c0c 0%,#474747 100%);
  color: rgba(255,255,255,.6);
  font-size: 13px;
  font-weight: 300;
  p {
    display: flex;
    align-items: center;
    i {
      font-size: 9px;
      padding-right: 4px;
      vertical-align: middle;
    }
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 0 10px;
      a {
        text-decoration: none;
        color: rgba(255,255,255,.6);
        i {
          font-size: 14px;
        }
      }
    }
  }
}
