
// $colorWhite: white;
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 0 rgba(34,34,34,.03);
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #3D3D3D;
  padding-left: 50px;
  padding-right: 30px;
  .phone_list {
    list-style: none;
    li {
      display: inline-block;
      a {
        @include headerTopLinks;
      }
    }
  }
  .social_icons {
    list-style: none;
    li {
      display: inline-block;
      i {
        @include headerTopLinks;
      }
    }
  }
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 105px;
  background-color: $colorWhite;
  padding-left: 40px;
  padding-right: 30px;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 4px 44px 0 rgba(0,0,0,.14);
  a {
    width: 200px;
    text-decoration: none;
    img {
      width: 100%;
    }
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        color: #3D3D3D;
        font-size: 14px;
        text-decoration: none;
        padding: 0 20px;
        &:hover {
          color: #aaaaaa;
        }
      }
    }
  }
  i {
    color: $colorGreen;
    font-size: 16px;
    padding-left: 15px;
  }
  .btn_and_search_container {
    display: flex;
    align-items: center;
  }
}
