$colorWhite: white;
$colorGreen: #00D9A6;
$colorLightGray: #F9F9F9;
$linearGradientGreen: linear-gradient(to right, rgb(155,225,93,0.6), $colorGreen);
@mixin headerTopLinks {
  color: $colorWhite;
  font-size: 16px;
  padding-left: 20px;
  text-decoration: none;
  cursor: pointer;
}

@mixin myBtn {
  width: 150px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 55px;
  background: $linearGradientGreen;
  text-align: center;
  text-decoration: none;
  color: white;
  box-shadow: 6px 6px 25px 0 rgba(0,217,166,.65);
  transition: all 2s;
}
@mixin myBtnBlack {
  width: 150px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 55px;
  background-image: linear-gradient(271deg,#0c0c0c 0%,#474747 100%);
  text-align: center;
  text-decoration: none;
  color: white;
  box-shadow: 6px 6px 25px 0 rgba(0,0,0,.35);
  transition: all 2s;
}
